{% extends 'base.html.twig' %}
{% block body %}
    <h1>Formulaire d'ajout d'une catégorie !</h1>

    {{ form_start(form) }}

    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_row(form.parent) }}

    {{ form_end(form) }}
{% endblock %}