{% extends 'base.html.twig' %}
{% block body %}
    <h1>Détail de la category {{ categ.nom }}</h1>
    <a href="{{ path('category_getall') }}">Retour</a>
    <h2>Parent de la category : </h2>
    {% if categ.parent is not null %}

        <div>{{ categ.parent.nom }}</div>
        {% else %}
    {% endif %}

    {% if categ.childrens is not empty %}
    <h2>Les enfants de la catégorie</h2>
    <ul>
        {% for categ in categ.childrens  %}
            <li>{{ categ.nom }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Je n'ai pas d'enfants</h2>
    {% endif %}

{% endblock %}