{% extends 'base.html.twig' %}
{% block body %}
    <h1>Formulaire d'edition d'une catégorie !</h1>
    <a href="{{ path('category_getall') }}">Retour</a>
    {{ form_start(form) }}

    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_row(form.parent) }}

    {{ form_end(form) }}
{% endblock %}