{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ok !</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('remove') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}


    <a href="{{ path('category_add') }}">Ajouter une catégorie !</a>
    <table>
        <thead>
            <tr>
                <td>
                     #
                </td>
                <td>
                    Nom de la catégorie
                </td>
                <td>
                    Nom de la catégorie parente
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>

        <tbody>

        {% for categ in categories %}
        <tr>
            <td>{{ categ.id }}</td>
            <td>{{ categ.nom }}</td>
            <td>
                {% if categ.parent is not null %}
                {{ categ.parent.nom }}
                    {% else %}
                    Pas de parent !
                {% endif %}
            </td>
            <td>
                <a href="{{ path('category_edit', {'category': categ.id}) }}">Editer</a>
                <a href="{{ path('category_delete', {'category': categ.id}) }}">Supprimer</a>
                <a href="{{ path('category_detail', {'category': categ.id}) }}">Détail</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}