{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.css') }}"/>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {{ form_start(form) }}
    {{ form_row(form.searchBar) }}
    {{ form_row(form.categories) }}

    Indiquez une fourchette de prix:

    <b>€ {{ minMax['min'] }}</b>

    {% if form.vars.value.rangeType is defined %}
        {{ form_widget(form.rangeType, {'id': 'rangePrice', 'attr': {
            'data-slider-value': '['~form.vars.value.rangeType~']'
        }}) }}
        {% else %}
            {{ form_widget(form.rangeType, {'id': 'rangePrice'}) }}
    {% endif %}


    <b>€ {{ minMax['max'] }}</b>

    {{ form_row(form.Rechercher) }}
    {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}

    <h2>Les résultats !</h2>

    {% for article in articles %}
        <div>
            <h1>{{ article.name }}</h1>
            <img style="max-width: 50px" src="{{ asset('images/'~article.image.url) }}" alt="{{ article.image.alt }}">
            <h2>{{ article.description }}</h2>
        </div>
    {% endfor %}

    {% if articles is empty %}
        <h2>Aucun article ne correspond à votre recherche</h2>
    {% endif %}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script rel="script" src="{{ asset('js/lib/bs-slider.js') }}"></script>
    <script rel="script" src="{{ asset('js/init-range-slider.js') }}"></script>
{% endblock %}