{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Les articles de la category {{  }}! ✅</h1>

        <ul>
            {% for article in articles %}
                <li>{{ article.name }}</li>
            {% endfor %}
        </ul>

        <table>
            <thead>
                <tr>
                    <td>
                        Nom
                    </td>
                    <td>
                        Date Ajout
                    </td>
                    <td>
                        Nom de la category
                    </td>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        {{ article.name }}
                    </td>
                    <td>
                        {{ article.dateAjout|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ article.category.nom }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tr>

            </tr>
        </table>

        <ul>
            <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/doctrineTp/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/doctrineTp/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
